body{
	background: #ffeff2;
}
.hero{
	background: linear-gradient(45deg, paleturquoise, purple);
}

.todo-wrapper{
height: 50px;
}

.task-btn{
	background: linear-gradient(45deg, paleturquoise, purple);
}

.task-btn:hover{
	color: white;
}